{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "env": {
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "space-before-function-paren": 0,
    "no-console": 0,
    "import/no-unresolved": [2, { "ignore": ["/~*"] }],
    "linebreak-style": 0,
    "react/no-array-index-key": 0,
    "class-methods-use-this": 1,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/extensions": ["off", "never"],
    "wrap-iife": [1, "outside"],
    // "import/prefer-default-export": "off",
    "react/prefer-stateless-function": [1, { "ignorePureComponents": true }],
    "object-shorthand": 0,
    "react/self-closing-comp": [
      "error",
      {
        "component": true,
        "html": false
      }
    ],
    "max-len": "off",
    "react/no-unused-state": 0,
    "object-curly-newline": [0],
    "react/destructuring-assignment": [0, "always"],
    "prefer-destructuring": [0],
    "indent": [0],
    "operator-linebreak": [0],
    "react/jsx-wrap-multilines": [0],
    "import/no-useless-path-segments": [0],
    "react/default-props-match-prop-types": [0],
    "padded-blocks": [0],
    "import/no-cycle": [0],
    "react/no-typos": [0],
    "jsx-a11y/click-events-have-key-events": [0],
    "react/no-access-state-in-setstate": [0],
    "react/jsx-one-expression-per-line": [0],
    "function-paren-newline": [0],
    "lines-between-class-members": [0],
    "no-constant-condition": [0],
    "prefer-promise-reject-errors": [0],
    "react/button-has-type": [0],
    "switch-colon-spacing": [0],
    "react/jsx-tag-spacing": [0],
    "react/prop-types": [1],
    "react/jsx-props-no-multi-spaces": [0],
    "react/no-danger": [0],
    "react/jsx-indent": [0],
    "react/jsx-closing-tag-location": [0],
    "no-else-return": [0],
    "no-restricted-globals": [0],
    "jsx-a11y/label-has-associated-control": [0],
    "jsx-a11y/label-has-for": [0],
    "no-multi-spaces": [0],
    "react/no-redundant-should-component-update": [0],
    "react/require-default-props": [0],
    "jsx-a11y/anchor-is-valid": [0],
    "implicit-arrow-linebreak": [0],
    "import/named": [0],
    "react/jsx-curly-brace-presence": [0],
    "func-names": [0],
    "react/sort-comp": [0],
    "jsx-a11y/no-static-element-interactions": [0],
    "jsx-a11y/media-has-caption": [0],
    "no-param-reassign": [1],
    "semi": [0],
    "no-tabs": [0]
  }
}
